h1,
h2 {
    border: 2px solid rgb(100, 147, 240);
    background-color: rgb(108, 190, 231);
    border-radius: 20px;
    padding: 5px;

}

h1,
h2,
b {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

a {
    width: 70px;
    font-weight: 700;
    border-radius: 30px;
    padding: 8px 200px;
    background-color: #42ffd3;
    color: rgb(5, 105, 255);
    text-decoration: none;
    margin: 0 auto;
    display: block;
}

a:hover {
    background-color: transparent;
    border: 2px solid rgb(34, 69, 144);
    color: rgb(12, 65, 179);
}